.footer {
  background-color: black;
  height: 50px;
  border-top: 1px solid #434343;
  position: fixed;
  bottom: 0;
  width: 100%;

  .iconList {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  a {
    display: block;
    padding: 4px;
    border-radius: 5px;

    &.active {
      // background-color: #312f2f;
      border: 1px solid #807c7c;
    }
  }

  .icon {
    height: 27px;
    width: 27px;
    color: rgb(245, 245, 245);
  }
}
